*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

.container{
width: 100%;
height: 100vh;
background-image:linear-gradient(rgb(0,0,50,0.8),rgb(0,0,50,0.8)),url("https://s7d2.scene7.com/is/image/aeo/20230119-aehp-247look6-lg?scl=1&qlt=60&fmt=webp");
background-position: center;
background-size: cover;
position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    position: relative;
    color: rgb(98, 0, 125);
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: rgb(98, 0, 125);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);

}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: rgb(93, 93, 93);
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: rgb(98, 0, 125);;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background-color: rgb(98, 0, 125);
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
height: 280px;
}
.btn-field button.disable{
    background:#67008f;
    color: rgb(255, 255, 255);
}
.btn-field button.enable{
    background:#1f01ff;
    color: rgb(255, 255, 255);
}