body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#heading{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    position: sticky;
    top:0
}
#heading>h1{
    width: 15%;
    text-align: center;
    font-family:cursive;
    background-color: white;
   margin-left: 50px;
   padding-bottom: 6px;
}
#icons{
    display: flex;
    width: 20%;
    font-size: 25px;
    justify-content: space-between;
    margin-right: 20px;
}
#search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#search>input{
    border-radius: 30px;
    height: 25px;
    font-size: 15px;
    padding-left: 10px;
    width: 140px;
    border: 2px solid black;
}
#search>button{
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 5px;
}
#icons>a{
    text-decoration: none;
    color:black;
}
#logo{
   width: 100%;
   text-align: center;
}
#logo>img{
    width: 500px;
    margin-top: 20px;
}
#nav{
    text-align: center;
    position: sticky;
    top:15px;
}
#nav ul{
 list-style: none;
 
 margin: auto;
 padding-left: 0px;
 
}
#nav ul li{
    position: relative;
    float: left;
   
}
#nav ul li a{
    padding: 25px;
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-family:cursive;
}
ul.outerul{
    display: inline-block;
}
#nav ul li a:hover{
    color: black;
    text-decoration: underline 2px solid black;
}
#username{
    margin: 50px 0px 30px 70px;
}
#favpro{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
    gap: 40px;
    margin-bottom: 50px;
}
#favpro>div{
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
}
#favpro>div>img{
    width: 100%;
}
#favpro>div>h5{
    color: red;
}
#favpro>div>button{
    padding: 10px 30px 10px 30px;
    font-weight: 600;
    background-color: black;
    border-radius: 30px;
    color: white;
}
#feedback{
    width: 80%;
    font-family: sans-serif;
    border: 1px solid rgb(122, 122, 122);
    margin: auto;
    margin-top: 20px;
}
#feedback>p{
    text-align: center;
    font-weight: 700;
}
#feedback>p>a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(70, 70, 70);
    text-decoration: underline;
}
hr{
    margin-top: 50px;
}
.footer{
    width: 85%;
    margin: auto;
    display: flex;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 13px;
}
.footer>div{
    width: 33%;
}
.footer>div>ul{
   list-style: none;
}
.footer>div>ul>li>b>a{
    text-decoration: none;
    color: black;
}
.footer>div>ul>li>a{
    text-decoration: none;
    color: black;
}
.follow{
    width: 80%;
    font-size: 25px;
    margin: auto;
}
.follow>a{
    text-decoration: none;
    color: black;
}
#footerhr{
    margin-top: 10px;
}
.footer2{
 width: 81%;
 margin: auto;
 font-family: sans-serif;
}
.footer2>p:nth-child(1){
    display: flex;
    font-size: 12px;
}
.footer2>p>a{
    text-decoration: none;
    color: rgb(59, 59, 59);
}
.footer2>p:nth-child(2){
    font-size: 12px; 
    color: rgb(59, 59, 59);
}
.footerimg{
    width: 81%;
    margin: auto;
    margin-bottom: 20px;
}